<div class="container about-content mt-3 mb--3">
    <h3> About </h3>
    <p> 
    Hi there! I'm a software developer with a passion for turning ideas into functional and creative digital solutions. 
    I've had the privilege of working on diverse projects, like developing a mobile app that helps users track their fitness goals or optimizing a website's performance to enhance user experience. 
    Beyond my technical skills, I also value effective communication and teamwork. Collaborating with fellow developers, designers, and stakeholders has allowed me to build solutions that truly address users' needs. 
    My goal is to create software that not only functions flawlessly but also provides meaningful value to users.    
    <p>
     <a class="profile-btn btn btn-primary" href="">view profile</a>
     <a class="cv-btn btn btn-primary" href="">download cv </a> 
</div>