<!DOCTYPE hml>
<html>
    <head>
        <title>portifolio-page</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    </head>

    <body>
        <div class="page">
             <div class="header">
                  <nav>
                      Email: &nbsp;engineerkaham@gmail.com
                      &nbsp;
                      Phone: &nbsp;+255684503471
                  </nav>
             </div>
             <div class="page-content">
                 {% include 'home.html' %}
             </div>
             <div class="footer">
                  <footer>footer</footer>
            </div>
        </div>   
          
        <script src="{{url_for('static', filename='style.js')}}"></script>
         <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    </body>
</html>