<div class="container project-content mt-3 mb-3">
    <h3> Projects </h3>
    <div class="project-group">
         <div class="project-list-1 mb-3 mt-3">
              <div class="project-image">
                    <iframe width="500" height="300">
                    </iframe>
              </div>   
              <div class="project-image">
                <iframe width="500" height="300">
                </iframe>
              </div> 
         </div>
         <div class="project-list-2 mb-3 mt-3">
            <div class="project-image">
                <iframe width="500" height="300">
                </iframe>
            </div>   
            <div class="project-image">
                <iframe width="500" height="300">
                </iframe>
                
            </div>  
        </div>
        <div class="project-list-3 mb-5 mt-3">
            <div class="project-image">
                <iframe width="500" height="300">
                </iframe>
            </div>   
            <div class="project-image">
                <iframe width="500" height="300">
                </iframe>
            </div>  
        </div>
    </div>
</div>