<div class="container service-content mt-3 mb-3">
    <h3> Services </h3>
    <div class="service-group">
         <div class="service-items">
             <div class="service-items-list">
                 <img src="{{ url_for('static', filename='bg.jpg')}}" alt="web-image">
                <p>Web app development </p>
             </div>  
             <div class="add-feature"><h3> web application </h3></div>
         </div>
         <div class="service-items">
            <div class="service-items-list">
                <img src="{{ url_for('static', filename='bg.jpg')}}" alt="mob-image">
               <p>Mobile app development </p>
            </div>  
            <div class="add-feature"><h3> mobile application </h3></div>
        </div>
        <div class="service-items">
            <div class="service-items-list">
                <img src="{{ url_for('static', filename='bg.jpg')}}" alt="ai-image">
               <p>AI model development </p>
            </div>  
            <div class="add-feature"><h3> ai/ml application </h3></div>
        </div>
    </div>
</div>