<div class="container skill-content mt-3 mb-3">
    <h3> Skills </h3>
    <div class="skill-group">
         <div class="skill-lists">
            <ol class="programming-skills">
                <li> html/css 
                    <div class="progress">
                    <div class="progress-bar" style="width:95%"></div>
                    </div> 
                  </li>
                <li> python 
                 <div class="progress">
                    <div class="progress-bar" style="width:90%"></div>
                    </div> 
                </li>
                <li> javascript/typescript 
                     <div class="progress">
                    <div class="progress-bar" style="width:87%"></div>
                    </div> 
                </li>
                <li> java 
                     <div class="progress">
                    <div class="progress-bar" style="width:85%"></div>
                    </div> 
                </li>
                <li> php 
                     <div class="progress">
                    <div class="progress-bar" style="width:80%"></div>
                    </div> 
                </li>
                <li> other(frameworks) 
                    <div class="progress">
                   <div class="progress-bar" style="width:76%"></div>
                   </div> 
               </li>
            </ol>
         </div>
    </div>
</div>